[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
shapely = "*"
uwsgi = "*"
pyjwt = "*"

[dev-packages]
pylint = "*"
pylint-flask = "*"

[requires]
python_version = "3.9"
